@font-face {
    font-family: 'myFont';
    src: url('../font.ttf');
}

.main {
    display: flex;
    border: 3px solid black;
    align-items: center;
    width: 413px;
    height: 413px;
    margin: 0 auto;
    border-radius: 100%;
    background: radial-gradient(circle, #FDFDFB, #FDFDFB, #A2AEA9);
}

.mainFrame {
    border-radius: 100%;
    width: 560px;
    height: 560px;
    display: flex;
    align-items: center;
    margin: 90px auto;
    background: black;
}

.frame {
    border-radius: 100%;
    width: 464px;
    height: 465px;
    display: flex;
    align-items: center;
    margin: 90px auto;
    background: #80887F;
}

.clockRadius {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin: 100px auto;
    position: relative;
    background: radial-gradient(circle, #FDFDFB, #FDFDFB, #A2AEA9);
}

.rad1 {
    height: 400px;
    width: 1px;
    position: absolute;
    margin-left: 50%;
    background-color: black;
}

.divLarge {
    height: 400px;
    position: absolute;
    margin-left: 50%;
    background-color: black;
}

.whiteRad {
    height: 380px;
    width: 380px;
    margin: 10px;
    z-index: 1;
    border-radius: 100%;
    background-color: white;
    background: radial-gradient(circle, #FDFDFB, #FDFDFB, #A2AEA9);
    position: absolute;
}

.whiteRadL {
    height: 370px;
    width: 370px;
    margin: 15px;
    z-index: 3;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    background: radial-gradient(circle, #FDFDFB, #FDFDFB, #A2AEA9);
    background-color: #EDEFEC;
}

p {
    font-size: 45px;
    position: absolute;
    font-family: 'myFont';
}

.whiteRadL p:nth-child(1) {
    right: 88px;
    top: -10px;
}

.whiteRadL p:nth-child(2) {
    right: 35px;
    top: 42px;
}

.whiteRadL p:nth-child(3) {
    right: 12px;
    top: 112px;
}

.whiteRadL p:nth-child(4) {
    right: 34px;
    top: 186px;
}

.whiteRadL p:nth-child(5) {
    right: 86px;
    bottom: -12px;
}

.whiteRadL p:nth-child(6) {
    right: 173px;
    bottom: -42px;
}

.whiteRadL p:nth-child(7) {
    left: 94px;
    bottom: -11px;
}

.whiteRadL p:nth-child(8) {
    left: 37px;
    top: 186px;
}

.whiteRadL p:nth-child(9) {
    left: 10px;
    bottom: 116px;
}

.whiteRadL p:nth-child(10) {
    left: 30px;
    top: 42px;
}

.whiteRadL p:nth-child(11) {
    left: 79px;
    top: -10px;
}

.whiteRadL p:nth-child(12) {
    right: 162px;
    top: -42px;
}

.crossX {
    margin: -14px;
    height: 400px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.crossSecond {
    height: 175px;
    width: 2.3px;
    background-color: black;
    z-index: 8;
    left: 50%;
    top: 10px;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    transform-origin: bottom;
}

.crossMin {
    height: 140px;
    width: 8.2px;
    background-color: black;
    z-index: 7;
    left: 49.2%;
    top: 45px;
    transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    position: absolute;
    border-radius: 50%;
    transform-origin: bottom;
}

.crossHours {
    height: 115px;
    width: 10px;
    background-color: black;
    z-index: 7;
    left: 49%;
    transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    top: 71px;
    position: absolute;
    border-radius: 50%;
    transform-origin: bottom;
}

.center {}
